.copyright {
    .logo-descr-p {
        max-width: 370px;
        margin-bottom: 30px;
        span {
            color:rgb(125, 125, 253);
        }
    }
}
.footer .container90 {
    padding-bottom: 20px;
}