/* Section Month */
.month {
    margin: 50px 0;
    &-best {
        max-width: 400px;
    }
    &-person {
        position: relative;
        margin: 0 50px;
        &-text {
            color: transparent;
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            font-size: 120px;
        }
    }
}


.month .default {
    font-size: 22px;
}

.month-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30px;
}
.month-item p {
    font-size: 22px;
    padding: 20px;
    margin: 0;
    text-align: right;
    }

.month-item .btn-wide {
    width: 145px;
    margin-right: 16px;
    
}   
.month .btn-blue-big {
    padding: 10px 40px;
}