/* Section Promo */

.promo {
    background: url("../img/hero/h1_hero.jpg") center center/cover no-repeat;
}
.promo_cat {
    max-width: 50%;
    height: auto;
}
.promo_cat img {
    max-width: 100%;
    height: auto;
}
.italic-blue {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #2e63e9;
    padding: 20px 0;
    margin: 0;
    font-style: italic;
}
.h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
}
.italic {
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
}
.btn-blue-big {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #2e63e9;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;

}
.btn-blue-big:hover {
    box-shadow: 10px 10px 62px 45px rgba(46,99,233,0.4);
    color:red;
}

.h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}
