/* Tablet */
@media screen and (max-width:960px) and (min-width:416px) {
    .md-hidden {
        display:none;
    }
    .promo_block {
        min-width: 330px;
    }
    .category-box-blue {
        height: 428px;
        
    }
    .shop-category {
        .category-tittle, .best-new-deals, .blue-shadow {
            
        } 
    }
    .shop-category .category-tittle {
        font-size: 45px;
        right: 34px;
        top: 110px;
    }
    .shop-category .best-new-deals {
        font-size: 20px;
        padding: 13px 18px;
        width: 135px;
        right: 40px;
        top: 193px;
    }
    .shop-category .blue-shadow {
        font-size: 27px;
        right: 50px;
        top: 235px;
    }
    .box-pink .blue-shadow {
        right: 100px;
        top: 100px;
    }
    .box-pink .descr {
        right: 87px;
        top: 200px;
        font-size: 20px;

    }
    /* Section Category finish */
    /* Section Products  */
    .top-bar  {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #80808035;
    }
    .products .container90 {
        display: flex;
        flex-wrap: wrap;
    }
    /* Section Card */
    .card_center_wrapper {
        
        width: 100%;
    }
    .card-wrapper h2 {
        font-size: 45px;
    }
    .card-wrapper {
        padding: 30px 20px;
    }
    .card-wrapper p {
        font-size: 21px;
    }
    .shirt {
        right: 40px;
        bottom: 40px;
    }
    /* Section Month */
    .month .container90 {
        display: flex;
    } 
    /* Section News */
    .email {
        width: 280px;
    }
    .email-button {
        padding: 20px 40px;
    }
    /* Payment section */
    .payment-box {
        max-width: 300px;
    }
    /* Section Bottom Navigation */
    .bottom-navigation .container90 {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .logo-descr {
        width: 250px;
        padding-top: 40px;
        
        
    }
    /* Footer section */
    .footer .container90 {
        display: flex;
        align-items: center;
    }
       

       
}
