/* Tablet */
@media screen and (max-width:960px) and (min-width:416px) {
    .md-hidden {
        display:none;
    }
    .promo_block {
        min-width: 330px;
    }
    .category-box-blue {
        height: 428px;
        
    }
    .shop-category {
        .category-tittle, .best-new-deals, .blue-shadow {
            
        } 
    }
    .shop-category .category-tittle {
        font-size: 45px;
        right: 34px;
        top: 110px;
    }
    .shop-category .best-new-deals {
        font-size: 20px;
        padding: 13px 18px;
        width: 135px;
        right: 40px;
        top: 193px;
    }
    .shop-category .blue-shadow {
        font-size: 27px;
        right: 50px;
        top: 235px;
    }
    .box-pink .blue-shadow {
        right: 100px;
        top: 100px;
    }
    .box-pink .descr {
        right: 87px;
        top: 200px;
        font-size: 20px;

    }
        
       
}
/* transform: scale(2); */