
*:focus {
    outline: none;
}
/*  */
@import "myLibrary";
@import "header";
@import "promo";
@import "category";
@import "products";
@import "card";
@import "month";
@import "news";
@import "payment";
@import "gallery";
@import "bottom-navigation";
@import "copyright";
@import "social";
@import "shop-category";
@import "TabletMedia";
@import "desktopMedia";



/* ---------------------------------------------- */

/* Class testing */
/* @media screen and (max-width:900px) {
    .md-hidden, .xs-hidden {
        display:none;
    }
} */
/* XS */
@media screen and (max-width:416px) {
    .xs-hidden {
        display:none;
    }
}

/* Tablet */
@media screen and (max-width:960px) and (min-width:416px) {
    .md-hidden {
        display:none;
    }
}

/* Desktop */
@media screen and (min-width:961px) {
    .xl-hidden {
        display:none;
    }
}


/* Phone  is till 415 px */
/* TAblet is 416px-960px */
/* Desktop 961px-end */