/* Variables */
body {
    margin: 0;
    padding: 0;
}
.container90 {
    width: 90vw;
    margin: 0 auto;
}
.container60 {
    width: 60vw;
    margin: 0 auto;
}

/* font-family: 'Kaushan Script', cursive;
font-family: 'Open Sans', sans-serif; */
/*  */

.white {
    color: #ffffff;
}
.grey {
    color: #4c4c4c
}
.yellow {
    color: #cc9900;
}
.bgyellow {
    background-color: #cc9900;
}

.flex {
    display: flex;
}
.alitce {
    align-items: center;
}
.spb {
    justify-content: space-between;
}

.spa {
    justify-content: space-around;
}
.alitend {
    align-self: flex-end;
}



.justend {
    justify-content: flex-end;
}
.justcen {
    justify-content: center;
}
.justsa {
    justify-content: space-around;
}
.justsb {
    justify-content: space-between;
}
.h100 {
    height: 100%;
}

.btn-black {
    width: 228px;
    height: 57px;
    border: 1px solid #000000;
    background: rgba(0, 0, 0, 0.5);
    
    color:white;
    text-align: center;
    margin: 15px;

}
.btn-white {
    width: 228px;
    height: 57px;
    border: 1px solid #ffffff;
    background: rgba(255, 255, 255, 0.2);
    
   /*  color:rgba(255, 255, 255, 1); */
    text-align: center;
    margin: 15px;
}
.tac {
    text-align: center;
}
.tal {
    text-align-last: left;

}
.tar {
    text-align: right;
}
.black-p {
    color: #4c4c4c;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    max-width: 417px;
    margin: 0 auto;
    margin-top: 32px;

}
.white-p {
    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}
.column {
    flex-direction: column;
}
.w50 {
    width: 50%;
}
.p100 {
    padding: 100px;
}
.pt100 {
    padding-top: 100px;
}
.p5 {
    padding: 0 5px;
}
.bold {
    font-weight: 700;
}
.wrap {
    flex-wrap: wrap;
}
.m0a {
    margin: 0 auto;
}
.op7 {
    opacity: 0.7;
}
.op1 {
    opacity: 1.5;
}

.btn-wide {
    padding: 15px 40px;
    margin-top: 40px;
    width: 170px;
    
}
.tar {
    text-align: right;
}
.xs_hidden, .md_hidden, .xl-hiddden {
    display: block;
}


/*  */

/* ---------------------------------------------- */
/* Section Header */
@import "./blocks/header.css"; /* Header */
--yellow: #ffd900;
--grey:  #4c4c4c;
--blue:  rgb(77, 153, 247);

.header .container90 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}
.page_navigation {
    list-style-type: none;
    display: flex;
    padding-right: 40px;
    
}
.page_navigation_link {
    text-decoration: none;
    color:grey;
    padding: 0 10px;
    
}
.page_navigation_link:hover {
    text-decoration: none;
    color: #ffd900;
    padding: 0 10px;
    
}


.shopping {
    border: 1px solid black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 30px 0 0;
    
    
}
.header .shopping>a {
    color: black;
    top: 50%;
    
}
.count {
    width: 20px;
    height: 20px;
    background-color: rgb(77, 153, 247);
    color: #fff;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
    right: -25px;
    top:0px;
    box-shadow: 2px 2px 8px #888888;
}
.cart-block {
    /* width: 220px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
.hamburger {
    color: red;
}

/* Section Promo */

.promo {
    background: url("../img/hero/h1_hero.jpg") center center/cover no-repeat;
}
.promo_cat {
    max-width: 50%;
    height: auto;
}
.promo_cat img {
    max-width: 100%;
    height: auto;
}
.italic-blue {
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    color: #2e63e9;
    padding: 20px 0;
    margin: 0;
    font-style: italic;
}
.h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
}
.italic {
    font-style: italic;
    font-size: 20px;
    font-weight: 100;
}
.btn-blue-big {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #2e63e9;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;

}
.h2 {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

/* Section Category */
.category-box-blue {
    background: url("../img/categori/cat1.jpg") center center/cover no-repeat;
    width: 100%;
    height: 180px;
    border-radius: 10px;
    position: relative;
    margin: 20px 0;

}
.best-new-deals {
    padding: 12px 10px;
    background-color:#ffd900;
    width: 100px;
    border-radius: 20px;
    font-size: 15px;
    position: absolute;
    right: 10px;
    top: 60px;
    
}
.blue-shadow {
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    color: #2e63e9;
    padding: 20px 0;
    margin: 0;
    font-style: italic;
    text-shadow: -1px -1px hsl(0, 0%, 98%);
    position: absolute;
    right: 10px;
    top: 85px;

}
.category-tittle {
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 23px;
    
}
.box-pink {
    background: url("../img/categori/cat2.jpg") center center/cover no-repeat;
}
.box-pink .descr {
    position: absolute;
    right: 20px;
    top: 90px;
    font-size: 16px;

}
.box-pink .category-tittle {
    position: absolute;
    right: 10px;
    top: 60px;
    font-size: 22px;

}
.box-pink .blue-shadow {
    position: absolute;
    right: 30px;
    top: 40px;
    font-size: 20px;

}
.box-3 {
    background: url("../img/categori/cat3.jpg") center center/cover no-repeat;
}
.box-3 .category-tittle {
    right: 15px;
}

/* Section Category End */

/* Section Products */

.product-list {
    margin: 0;
    padding: 0;
    padding: 10px;
}
.product-list li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    color: grey;

}
.product-list li:active, .product-list li:first-child {
    
    color: red;

}
.product-box {
    width: 285px;
    margin: 0 auto;
    
}
.product-box img {
    width: 285px;
    margin: 30px 0;

}
.item {
    position: relative;
}
.new {
    position: absolute;
    background-color: red;
    color: white;
    padding: 5px 18px;
    border-radius: 20px;
    top:45px;
    left:10px;

}
.item-tittle {
    font-size: 20px;
}
.price {
    font-size: 20px;
    font-weight: 600;
}
.price span {
    color:red;
    text-decoration: line-through;
    margin-left: 20px;
}
.stars {
    color: #f4d10eec;
}
.stars span {
    color: #98968e;
}
/* Section Products ready mobile */

/* Section Card */
.card-wrapper {
    /* background-color: rgb(255, 240, 240); */
    background: url("../img/categori/card.png") center center no-repeat;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-wrapper h2 {
    font-size: 20px;
}
.card-wrapper p {
    line-height: 24px;
}
.card .btn-blue-big {
    background-color: black;
    color:#fff;
    padding: 15px 40px;
    margin-top: 40px;
    width: 170px;
}
/* Section card end */

/* Section Month */
.month {
    margin: 50px 0;
}

.month .default {
    font-size: 22px;
}

.month-item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 30px;
}
.month-item p {
    font-size: 22px;
    padding: 20px;
    margin: 0;
    text-align: right;
    }

.month-item .btn-wide {
    width: 145px;
    margin-right: 16px;
}   
/* Section News */
.news .card-wrapper {
    background: url("../img/collection/latest-offer.png") no-repeat;
    padding: 80px 10px;
} 
.news .card-wrapper .h2 {
    font-size: 27px;
}
.news .card-wrapper p {
    font-size: 24px;
}
.email {
    width: 230px;
    margin: 0 auto;
    padding: 15px 15px;
    height: 30px;
    border-radius: 40px;
    border: none;

}
.email-form {
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}
.email-button {
    font-size: 16px;
    padding: 20px 10px;
    border-radius: 40px;
    position: absolute;
    right:0px;
    /* Section news ready */

}
@media screen and (max-width:900px) {
    .md-hidden, .xs-hidden {
        display:none;
    }
}